*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
flex-basis: 50%;
min-width: 300px;
}
.col-1{
    max-width: 100px;
    padding: 50px 0;
}

.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.header{
    background: radial-gradient(rgb(182, 223, 241),#ffd6d6);
}
body{
    font-family: 'Poppins', sans-serif;
}
.header row{
    margin-top: 70px;
}
.btn:hover{
    background: #563434;
}
.categories{
    margin: 70px 0;
}
.col-2{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-2 img{
    width: 100%;
}
.small-container{
max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.col-1 img{
    width: 100%;
    height: 600px;
}
.col-3{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.8s;
}
.col-3 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-3 p{
    font-size: 14px;
}
.col-3:hover{
    transform: translateY(-8px);
}
.offer{
    
    margin-top: 80px;
    padding: 30px 0;
  
}
.col-1 .offer-img{
    width: 400px;
 
    
}
.col-3 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.col-31 img{
    height: 200px;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.col-31:hover{
    transform: translatex(-5px);
}
.About{
    padding-top: 100px;

}
.About .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5sec;

}
.About .col-3:hover{
    transform: translateY(-10px);
}
.sponsers{
    margin: 100px auto;

}
.col-5{
    width: 150px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(10%);
}
.col-5 img:hover{
    filter: grayscale(100%);
}
.col-2 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(10%);
}

.col-2 img:hover{
    filter: grayscale(100%);
}

.footer{
background: #000;
color: #8a8a8a;
font-size: 14px;
padding: 60px 0 20px;
margin-left: 5px;
margin-right: 5px;
}
.footer .row{
    margin-top: 70px;
}
.footer p{
    color: #8a8a8a; 
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;

}
.foo-col1,.foo-col2,.foo-col3{
min-width: 250px;
margin-bottom: 20px;
}
.foo-col1{
    flex-basis: 30%;
}
.foo-col2{
    flex:1;
    text-align: center;
}

.foo-col2, .f00-col3{
    flex-basis: 12%;
    text-align: center; 

}
ul{
    list-style-type: none;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*-----media query for menu-----*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
       display: block;
       margin-right: 50px;
       margin-top: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*products*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}
/*-----media query for less than 600 screen size-----*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-1, .col-2, .col-3{
        flex-basis: 100%;
    }
}